.language-select-box select {
    font-size: 0.95rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-weight: 400;
    background: none;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
}

.language-select-box select option {
    font-family: Helvetica;
}

.language-select-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    box-sizing: border-box;
    fill: white;
    border: 1px solid rgba(255, 255, 255, 0.40);
    border-radius: 5px;
    min-width: 122px;
    height: 32px;
}

.language-select-box .global-icon {
    position: absolute;
    font-size: 1.3rem;
    left: 10px;
 }
 
 .language-select-box .arrow-icon {
    position: absolute;
    font-size: 0.8rem;
    right: 10px;
 }

 .signin .language-select-box select {
    font-size: 13px;
    color: #737373;
    z-index: 2;
}

.signin .language-select-box select option {
    font-size: 13px;
    background:black;
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    
}

 .signin .language-select-box {
    width: 122px;
    height: 48px;
    color: #737373;  
}
 

 @media (max-width: 1278px) {
   
  }
  
  @media (max-width: 958px) {
   
  }
  
  @media (max-width: 598px) {

    .landing-navbar .language-select-box {
        min-width: 60px;
    }

    .landing-navbar .language-select-box select {
        width: 100%;
        color: rgba(255, 255, 255, 0);
    }

  }